html {
    min-height: 100%;
    position: relative;
  }
body{
    align-items: center;
    padding: 0px;
    margin: 0;
    margin-bottom: 40px;
    /*FONTS*/
}
.row{
    margin-bottom: 20px;
    margin-top: 20px;
    width: 100%;
    height: 200px;
    margin: auto;
}
.img-intro{
    text-align: center;
    background-size: 150px;
    margin-bottom: 20px;
    margin-top: 20px;
}
.SN{
    background-color: #00998c;
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 80px;
    color: white;
}
.carousel{
    align-content: center;
   
}
h1 {text-align: center;}
.map {margin-top: -30px ;}
.SN {background-color:#263859; color: white; padding-left: 50px; padding-bottom: 30px;padding-top: 30px;}
